.slider {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .conteoner{
    background-color: rgb(43, 226, 214);
  }
  .slider__input {
    width: 100%;
  }
  
  
  .slider__image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
  }
.ewd{
    width: 100px;
    height: 100px;
}

.controls {
    display: block;
 margin-left: 420px;
}

.controls button{
width: 200px;
height: 50px;
}

/* .btnNext {
    display: block;
} */

  .hidden{
    display: none;
  }